body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 40px;
    border-left: 5px solid red;
    height: 115px;
    padding-left: 10px;
}

.mission {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10px;
}

.half-width img {
    width: 80%;
    bottom: 20px;
}

.linkd-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

h2 {
    font-size: 40px;
}

.align {

    text-align: center;
}

.cart-img {
    border-left: 20px;
    width: 100%;
    top: 50px;
}

h4 {
    font-size: 30px;
    text-align: center;

}